---
force: true
skip: {{ license is undefined or license == "" or license == "private" or license == "none" }}
---
{% if license == "MIT" -%}
{% include "partials/MIT.md" %}
{% elif license == "BlueOak" -%}
{% include "partials/BlueOak.md" %}
{% endif %}